@keyframes fadeIn {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1;
    }
}

/* Select2 Bootstrap styling */
.select2-container--default.select2-container--focus
    .select2-selection--single {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #212529;
    line-height: 1.5;
    padding-left: 0;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: calc(1.5em + 0.75rem + 2px);
    right: 0.75rem;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    margin-top: -0.375rem;
}

.select2-dropdown {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: #0d6efd;
}

.select2-container--default .select2-results__option {
    padding: 0.375rem 0.75rem;
}

.select2-search--dropdown .select2-search__field {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
}

.select2-container--default .select2-results__group {
    padding: 0.375rem 0.75rem;
    color: #6c757d;
}

.select2-container--default .select2-selection--single.is-invalid {
    border-color: #dc3545;
}

.select2-container--default.select2-container--focus.is-invalid
    .select2-selection--single {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
.select2.select2-container.select2-container--default {
    width: 100% !important;
}
